<html>
<head>
<meta charset="utf-8">
<title>♥Literary Mystic♥</title>
<link rel="stylesheet" href="../static/css/styles2.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">


</head>

<body>
<div class="login_block"
<form action="login" method="post">
 <div class="Wrapper">
 <p>{{error}}</p>
 <h1>Log In</h1>

    <h2>Enter your registered details.</h2>
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Name" name="name" >
    <br></br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" name="password">

    <button type="submit" class="registerbtn"><b>Log In</b></button>
    </div>
</form>
</div>
</body>

</html>
